/* For small devices (phones) */
@media (max-width: 576px) {

  .navbar{
    margin: 2vw auto;
    position: relative;
  }

  .nav-two{
    display: none;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: rgba(0, 0, 0, 0.792);
    padding: 2vw;
    width: 30vw;
    text-align: center;
  }

  .navul-two li{
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 1vw;
    padding: 2vw;
    text-decoration: none;
    list-style-type: none;
  }

  .navul-two li a{
    color: rgb(240, 70, 70);
  }

  .logo-image{
        width: 18vw;
        padding: 0vw 1vw;
  }

  .menu{
        display: block;
        padding: 0vw 3vw;
        font-size: 4vw;
  }

  .menu:hover  .nav-two{
    display: block;
  }

  .nav{
        display: none;
  }

    .topbarul{
      text-align: right;
    }

    .topbarul li{
    font-size: 2.5vw;
    }

    .divOne{
      flex-direction: column;
    }

    .imageOne{
      width: 100%;
    }

    .contentOne{
      width: 100%;
    }

  .contentOne h2{
    font-size: 4vw;
    letter-spacing: 2px;
  }

  .contentOne p{
    font-size: 2vw;
  }

  .common{
    padding: 2vw 5vw;
    width: 30vw;
    font-size: 3vw;
  }

  .pathsDiv1{
    margin: 4vw auto; 
  }

  .free{
    font-size: 3vw;
  }

  .divTwo{
    flex-direction: column;
  }
  
  .divTwoLeft{
    width: 100%;
  }

  .divTwoLeft h1{
    font-size: 5.5vw;
  }

  .divTwoLeft p{
    font-size: 3vw;
  }

  .flip-card{
    width: 40vw;
    height: 25vw;
  }

  .flip-card-back{
    text-align: center;
  }

  .flip-card-back p{
    margin: 0.6vw auto;
  }

  .flip-card-back{
    font-size: 1.4vw;
  }

  .thirdImage{
    width: 45%;
  }

  .box {
    left: 44.5%;
    top: 22%;
    height: 27vw;
  } 

  .third-content{
    width: 55%;
  }

  .third-content h1{
    font-size: 7vw;
  }
   
  .third-content p{
    font-size: 2vw;
  }

  .contact-btn{
    font-size: 2vw;
    letter-spacing: 2px;
    margin: 2vw 0vw;
  }

  .div-four{
    flex-direction: column-reverse;
  }

  .four-box{
    height: 65vw;
    width: 1.2vw;
    background-color: red;
    top: 28%;
    left: 33%;
    rotate: 90deg;
  }

  .four-image{
    width: 100%;
  }

  .four-left{
    padding: 1vw;
    width: 100%;
  }

  .four-left > h1{
    font-size: 6vw;
  }

  .four-left > p {
    font-size: 2.3vw;
  }

  .four-countries p{
    font-size: 3vw;
    width: 28vw;
  }

  .image-five{
    margin-left: 1vw;
  }

  .content-five h1{
    font-size: 6vw;
  }

  .content-five p{
    font-size: 2.2vw;
  }

  .group-three{
    font-size: 2vw;
  }

  .div-six{
    padding: 2vw;
  }

  .six-image{
    display: none;
  }

  .six-box{
    display: none;
  }

  .six-left{
    width: 100%;
    margin: auto;
    /* border: 2px solid white; */
    padding: 2vw; 
  }

  .six-left > h1{
    font-size: 6vw; 
  }

  .six-left > p{
    font-size: 3vw;
  }

  .six-countries p{
    font-size: 3vw;
    width: 43vw;
    padding: 2vw;
  }

  .six-countries p:last-child{
    width: 99%;
  }

  .div-seven{
    flex-direction: column-reverse;
    border: none; 
  }

  .seven-image{
    width: 100%;
  }

  .seven-content{
    width: 100%;
  }

  .seven-content h1{
    font-size: 5vw;
    display: inline-block;
  }

  .read-more-btn{
    font-size: 3vw;
    width: 20vw;
    float: right;
  }

  .seven-why{
    margin: 4vw auto;
  }

  .seven-divs{
    font-size: 2.5vw;
    border: none;
    height: 20vw;
    padding: 1vw;
    box-shadow:  0px 3px 5px rgba(0, 0, 0, 0.152);
  }

  .seven-divs i{
    font-size: 5vw;
  }

  .footer-main{
    padding: 2vw;
  }

  .footer-one{
    flex-direction: column-reverse;
  }

  .social-media{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .social-media p{
    display: inline-block;
    align-items: center;
  }

  .social-media img{
    width: 6vw;
    display: block;
  }

  .addresses{
    width: 100%;
    margin: 1vw auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.156);
  }

  .addresses img{
    display: block;
    width: 10vw;
    margin: auto;
  }

  .footer-right p{
    font-size: 2.2vw;
  }

  .addresses h3{
    font-size: 3vw;
  }


  }
  
  /* For medium devices (tablets) */
  @media (min-width: 576px) and (max-width: 768px) {

  }
  
  /* For large devices (laptops/desktops) */
  @media (min-width: 992px) and (max-width: 1200px) {
    /* CSS styles specific to large devices */
  }
  
  /* For extra large devices (large desktops/tvs) */
  @media (min-width: 1200px) {
    /* CSS styles specific to extra large devices */
  }
  