@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Merriweather&family=Montserrat:wght@100;200;400&family=Nunito&family=Playfair+Display:wght@500&family=Tilt+Prism&family=Ysabeau+Infant&display=swap");

/* font-family: 'Caprasimo', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Tilt Prism', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --font: "Ysabeau Infant", sans-serif;
  --paraFont: "Nunito", sans-serif;
  --headFont: "Playfair Display", serif;
  --gray: rgb(69, 69, 69);
  --black: rgb(32, 32, 32);
}

a {
  text-decoration: none;
}

.mainContainer {
  margin: auto;
  padding: 0vw 2vw;
}

.topbar {
  margin: 1vw auto;
}

.topbarul {
  padding: 0.5vw 0vw;
  text-align: right;
  font-family: var(--font);
}

.topbarul li {
  display: inline;
  padding: 2vw;
  font-size: 1.5vw;
}

.topbarul a {
  color: var(--black);
}

.navbar {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.205);
  z-index: 10;
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6vw auto;
  padding: 0.3vw;
  position: sticky;
  top: 0px;
  background-color: white;
}

.nav-two{
  display: none;
}

.new-ul{
  background-color: red;
}

.menu{
  display: none;
}

.logo {
  text-align: center;
  font-size: 20px;
  margin: auto 0.5vw;
  border-radius: 5px;
  padding: 0vw 10px;
  font-family: var(--font);
}

.logo-image {
  width: 6vw;
}

.navul li {
  border: 1px solid transparent;
  display: inline-block;
  padding: 0.2vw 0.5vw;
  font-size: 1.7vw;
  font-family: var(--font);
  transition: all 0.2s linear;
}

.navul a {
  color: rgb(63, 63, 63);
  font-weight: bold;
}

.navul li:hover {
  border-bottom: 1px solid var(--gray);
}

.divOne {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
}

.imgDiv {
  /* width: 50%; */
}

.imageOne {
  display: block;
  width: 50%;
  border: 1px solid green;
}

.contentOne {
  padding: 2vw;
  width: 50%;
}

.contentOne h2 {
  font-size: 2vw;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  margin: 2vw auto;
  letter-spacing: 1px;
}

.contentOne p {
  font-weight: bold;
  font-size: 1vw;
  font-family: var(--paraFont);
}

.pathsDiv1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1vw auto;
}

.common {
  padding: 1vw 0vw;
  text-align: center;
  font-family: var(--paraFont);
  letter-spacing: 1px;
  color: var(--gray);
  font-weight: bolder;
  transition: all 0.2s linear;
  min-width: 12vw;
  font-size: 1.5vw;
}

.common:hover {
  background-color: transparent;
  color: var(--black);
}

.div1 {
  color: white;
  border: 2px solid rgb(255, 191, 0);
  background-color: rgb(255, 191, 0);
}

.div2 {
  color: white;
  background-color: red;
  border: 2px solid red;
}

.div3 {
  color: white;
  background-color: rgb(10, 176, 176);
  border: 2px solid rgb(10, 176, 176);
}

.div4 {
  color: white;
  background-color: rgb(174, 0, 255);
  border: 2px solid rgb(174, 0, 255);
}

.free {
  text-align: center;
  margin: 2vw auto;
  font-size: 2vw;
}

/* --------------DIVTWO-------------------------- */

.divTwo {
  margin: 3vw auto;
  display: flex;
  align-items: center;
  align-items: center;
  padding: 2vw;
  background-color: azure;
}

.divTwoLeft {
  width: 45%;
  padding: 1vw;
}

.divTwoLeft h1 {
  font-family: var(--headFont);
  font-size: 3.5vw;
}

.divTwoLeft p {
  font-family: var(--paraFont);
  font-size: 1.5vw;
}

.divTwoRight {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card-title {
  position: absolute;
  top: 70px;
  right: 0px;
  padding: 5px 10px;
  color: white;
  box-shadow: 4px 4px 6px rgba(4, 4, 4, 0.245);
  backdrop-filter: blur(10px);
  width: 12vw;
  font-size: 1.5vw;
}

.flip-card {
  margin: 10px auto;
  background-color: transparent;
  width: 21vw;
  height: 21vw;
  perspective: 1000px;
  position: relative;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.136);
  color: var(--gray);
  transform: rotateY(180deg);
  padding: 10px;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.2vw;
}

.flipCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divThree {
  display: flex;
  align-items: center;
  position: relative;
  height: 35vw;
  background-color: rgba(165, 14, 122, 0.941);
}

.third-div-image {
  border: 2px solid green;
}

.thirdImage {
  width: 58%;
  height: 100%;
}

.box {
  position: absolute;
  height: 10vw;
  width: 1vw;
  background-color: red;
  top: 40%;
  left: 57.5%;
}

.third-content {
  color: white;
  padding: 2vw;
  font-size: 1.5vw;
  font-family: var(--paraFont);
}

.third-content a {
  color: white;
}

.contact-btn {
  border: 1px solid white;
  font-family: var(--paraFont);
  padding: 5px;
  margin: 2vw auto;
  width: 50%;
  text-align: center;
  transition: all 0.2s linear;
}

.contact-btn:hover {
  letter-spacing: 1px;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background-color: rgba(128, 128, 128, 0.245);
}

/* ------------------------------------- FOURth DIV */

.div-four {
  display: flex;
  align-items: center;
  background-color: rgb(122, 24, 158);
  color: white;
  margin: 5vw auto;
  position: relative;
}

.four-left {
  padding: 0vw 2vw;
  width: 50%;
}

.four-left > p {
  font-family: var(--paraFont);
  font-size: 1.3vw;
}

.four-left > h1 {
  font-family: var(--headFont);
  letter-spacing: 2px;
  font-size: 4vw;
}

.four-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 2vw;
}

.four-countries p {
  font-family: var(--font);
  width: 12vw;
  border: 1px solid white;
  padding: 0.5vw;
  transition: all 0.2s linear;
  text-align: center;
  font-size: 1.5vw;
}

.four-countries p:hover {
  background-color: rgba(255, 255, 255, 0.295);
  border-color: transparent;
  border-bottom: 1px solid white;
}

.four-box {
  position: absolute;
  height: 10vw;
  width: 1vw;
  background-color: red;
  top: 40%;
  left: 49.5%;
}

.four-image {
  width: 50%;
  display: block;
}


/* ---------------------FIFTHDIV-------------------------- */


.div-five {
  display: flex;
  background-color: rgba(255, 209, 4, 0.904);
  align-items: center;
}

.image-five {
  width: 50%;
}

.content-five {
  font-family: var(--paraFont);
  font-size: 1.5vw;
  padding: 2vw;
  width: 50%;
  color: var(--gray);
}

.content-five h1 {
  font-family: var(--headFont);
  letter-spacing: 2px;
}

.five-boxes{
  margin: 1vw auto;
}

.five-boxes p{
  width: 20vw;
  text-align: center;
  padding: 1vw;
  font-size: 1.3vw;
  border: 1px solid var(--gray);
  margin: 0.5vw auto;
}

.group-one{
  display: flex;
  justify-content: space-around;
}

.group-two{
  display: flex;
  justify-content: space-around;
}

.group-three{
  border: 1px solid var(--gray);
  padding: 1vw;
  text-align: center;
  width: 97%;
  margin: auto;
}

/* -------------------------Sixth Div------------------------------- */

.div-six {
  display: flex;
  align-items: center;
  background-color: rgb(24, 91, 158);
  color: white;
  margin: 5vw auto;
  position: relative;
}

.six-left {
  padding: 0vw 2vw;
  width: 50%;
}

.six-left > p {
  font-family: var(--paraFont);
  font-size: 1.3vw;
}

.six-left > h1 {
  font-family: var(--headFont);
  letter-spacing: 2px;
  font-size: 4vw;
}

.six-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.six-countries p {
  font-family: var(--font);
  width: 18vw;
  border: 1px solid white;
  padding: 0.5vw;
  transition: all 0.2s linear;
  text-align: center;
  font-size: 1.5vw;
}

.six-countries p:hover {
  background-color: rgba(255, 255, 255, 0.295);
  border-color: transparent;
  border-bottom: 1px solid white;
}

.six-box {
  position: absolute;
  height: 10vw;
  width: 1vw;
  background-color: red;
  top: 40%;
  left: 49.5%;
}

.six-image {
  width: 50%;
  display: block;
}


/* ---------seventh Div------------------- */

.div-seven{
  display: flex;
  align-items: center;
  border: 1px solid gray;
}

.seven-content{
  width: 50%; 
  padding: 2vw;
}

.seven-content h1{
  font-family: var(--headFont);
  letter-spacing: 2px;
  margin: 1vw auto;
  font-size: 3vw;
}

.read-more-btn{
  font-family: var(--paraFont);
  background-color: rgba(255, 0, 0, 0.773);
  border: 1px solid transparent;
  color: white;
  padding: 0.5vw; 
  width: 10vw;
  margin: 0.5vw;
  font-size: 1.2vw;
}

.seven-why{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: var(--font);
  margin: 2vw auto;
}

.seven-divs{
  border-left: 1px solid gray;
  width: 15vw;
  font-size: 1.5vw;
}

.seven-divs i{
  color: var(--gray);
  font-size: 3vw;
  margin: 1vw auto;
}

.seven-image{
  width: 50%;
}

/* -------------------SLIDER----------------------------- */

.scrollbar{
  display: flex;
  overflow-x: scroll;
  margin: 2vw auto;
}

/* width */
.scrollbar::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ff0000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.scrollbar img {
  display: block;
  width: 20vw;
}

.slider {
  width: 100%;
  /* height: 300px; */
  overflow: hidden;
  position: relative;

}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex: 0 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 2;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slide img{
  width: 100px;
}


/* ----------------------------Footer Main-------------------- */

.footer-main{
  background-color: rgba(225, 225, 225, 0.403);
  margin: 3vw auto 1vw;
  padding: 1vw;
}

.footer-one{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.addresses{
  box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.215);
  text-align: center;
  padding: 1vw;
  width: 15vw;
  background-color: white;
  font-family: var(--paraFont);
}

.addresses h3{
  margin: 1vw;
  font-family: var(--headFont);
  letter-spacing: 1px;
  font-size: 2vw;
  color: rgb(28, 28, 28);
}

.addresses img{
  width: 1.5vw;
  object-fit: cover;
}

.social-media img{
  width: 2vw;
  margin: 1vw;
}

.footer-two{
  display: flex;
  align-items: center;
  margin: 1vw auto;
  border-bottom: 1px solid rgb(202, 202, 202);
  border-top: 1px solid rgb(191, 191, 191);
}

.footer-logo{
  width: 10vw;
  margin: 2vw ;
}

.footer-right{
  border-left: 1px solid gray;
  padding: 2vw;
}

.footer-right p{
  font-size: 1.2vw;
  color: var(--black);
  font-family: var(--paraFont);
  letter-spacing: 1px;
  margin: 0.5vw auto;
}

/* ------------------------------------About Us page---------------------- */

.about-us{
  font-family: var(--paraFont);
  font-weight: bold;
  color: var(--gray);
  font-size: 4vw;
}

.about-one{
  font-size: 1.5vw;
  font-family: var(--font);
}

.slider-main-div{
  border: 1px solid gray;
  border-right: none;
  border-left: none;
  margin: 2vw auto;
  padding: 2vw;
  background-color: antiquewhite;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slide {
  display: none;
  text-align: center;
}

.slide img {
  width: 15vw; 
  border-radius: 50%; 
}

.slide p {
  margin: 10px 0;
}

.slide span {
  font-style: italic;
}

.slide:first-child {
  display: block;
}

.slider-image{
  object-fit: cover;
}

@keyframes slide {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* -------------------------------------About Us---------------------------------- */

.services-div-one{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw auto;
  padding: 1vw 10vw;
  font-family: var(--paraFont);
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.096);
  border-radius: 20px;
}

.services-div-one h3{
  border-left: 1px solid red;
  background-image: linear-gradient(90deg,rgb(247, 94, 94), transparent);
  border-radius: 2vw;
  margin: 1vw auto;
  padding: 1vw;
}

.services-div-one ::-webkit-scrollbar {
  width: 5px;
}

.services-div-one ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.services-div-one ::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 10vw;
}

.services-div-one ::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.services-div-one ul{
  height: 20vw;
  width: 20vw;
  padding: 1vw;
}

.country-ul{
  overflow-y: scroll;
}

.services-div-one ul li{
  list-style-type: none;
  font-size: 1.2vw;
}

.services-div-two{
  display: flex;
  background-color: rgb(255, 191, 0);
  margin: 2vw auto;
}

.service-img-two{
  display: block;
  width: 50%;
}

.service-two-right{
  width: 45%;
  padding: 1vw 5vw;
}

.service-flag{
  width: 5vw;
  height: auto;
}

.service-two-right h1{
  font-family: var(--headFont);
  letter-spacing: 2px;
}


.service-two-right p{
  font-size: 1.5vw;
  margin: 1vw auto;
  font-family: var(--paraFont);
}

.get-started{
  width: 50%;
  padding: 1vw;
  font-size: 1.5vw;
  border: 2px solid rgb(241, 69, 69);
  background-color: rgb(241, 69, 69);
}

.get-started a {
  color: white;
}

.service-div-three{
  padding: 2vw;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.126);
}

.process{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1vw;
  text-align: center;
}

.service-div-three h2{
  font-size: 3vw;
  font-family: var(--headFont);
  letter-spacing: 2px;
  text-align: center;
}

.service-div-three p{
  text-align: center;
  margin: 1vw;
  font-size: 1.5vw;
  font-family: var(--paraFont);
}

.process-img{
  width: 5vw;
}

.arrow{
  width: 5vw;
}

.why-imigrate {
  /* border: 1px solid gray; */
  padding: 1vw;
}

.why-imigrate h1{
  font-size: 3vw;
  font-family: var(--headFont);
  letter-spacing: 2px;
}

.why-imigrate ul{
  padding: 2vw;
}

.why-imigrate li{
  font-size: 1.3vw;
  font-family: var(--paraFont);
}

.why-imigrate p{
  font-size: 2vw;
  font-family: var(--paraFont);
  margin: 1vw auto;
}

.invest-div{
  background-color: rgb(115,192,70);
  color: white;
  padding: 3vw;
}

.invest-div h1{
  font-size: 3vw;
  text-align: center;
  font-family: var(--headFont);
  letter-spacing: 1px;
}

.invest-div p{
  font-family: var(--paraFont);
  text-align: center;
  margin: 1vw auto;
  font-size: 1.2vw;
}

.invest-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 4vw auto;
}

.invest-divs{
  border-bottom: 1px solid white;
  width: 15vw;
}

.invest-divs p{
  text-align: center;
  padding: 1vw;
  font-size: 1.2vw;
  font-family: var(--paraFont);
}

.invest-img{
  width: 40%;
  display: block;
  margin: auto;
}

.contact-us-btn{
  border: 1px solid white;
  padding: 1vw 3vw;
  font-size: 1.5vw;
  letter-spacing: 2px;
  display: block;
  margin: auto;
  background-color: transparent;
  color: white;
  width: 15vw;
  transition: all 0.2s linear;
  text-align: center;
}

.contact-us-btn:hover{
  background-color: white;
  color: rgb(115,192,70);
}
